<!-- part1 -->
<section class="part1">
    <div class="part1-container">
        <center>
            <h2 class="text1">Unlock Your Potential with</h2>
            <h2 class="text2">Sinar Education</h2>            
            <p class="text3">Education isn't just about acquiring knowledge; it's the key that opens 
            doors to new worlds, empowers individuals, and shapes a brighter future.</p>
            <button class="part1-button">Start training</button>
        </center>
    </div>
</section>